@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
  font-family: 'Mynerve', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  flex-direction: column;
  background-color: lightblue;
  overflow:hidden;
}

main {
  display: grid;
  grid-template-columns: 20vmin 20vmin 20vmin;
  grid-template-rows: 6vmin 6vmin 20vmin 20vmin 20vmin;
}

main * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameName {
  font-size: 6vmin;
}

.firstRow {
  margin: 0vmin;
  font-size: 4vmin;
}

.secondRow {
  margin: 0vmin;
  font-size: 5vmin;
}


button {
  justify-self: center;
  width: 15vmin;
  margin: 2vmin;
  background-color: white;
  color: black;
  border: 1vmin solid black;
  border-radius: 4vmin;
  font-size: 4vmin;
  outline: none;
}

.hoverInTurnX{
  background-color: rgb(255, 170, 170);
}

.hoverInTurnO{
  background-color: rgb(255, 255, 170);
}

#tie {
  background-color: rgba(128, 128, 128, 0.3)
}

#owin, .owin{
  background-color: rgba(255, 255, 0, 0.3);
}

#xwin, .xwin {
  background-color: rgb(255, 0, 0, 0.3);
}

.clickInTurnX {
  background-color: red;
  font-size: 30vim;
  font-size: 6vmin;
}

.clickInTurnO {
  background-color: yellow;
  font-size: 30vim;
  font-size: 6vmin;
}

#resetButton {
  background-color: lightgray;
  width: auto;
  height: 8vmin;

}

.resetBtn {
  font-size: 3vmin;
  border: .5vmin solid black;
}


.onGameEnd {
  font-size: 5vmin;
  border: 1vmin solid black;
}

.tieGame {
  background-color: lightgrey;
}